.people-list-card {
    width: 95%;
    margin: 15px 2.5% 0 2.5%;
    padding: 11px 15px;
    border: 2px solid #310b4c;
    transition: all .4s;
    color: #000000;
}

    .people-list-card:hover {
        width: 100%;
        margin: 15px 0 0 0;
        padding: 16px 15px;
        background: #310b4c;
        color: #ffffff;
        text-decoration: none;
    }

.people-list-data {
    display: flex;
    align-items: center;
}

    .people-list-data div {
        width: 100%;
    }

.people-list-action {
    color: #000000;
    padding: 0;
}

.people-list-card:hover .people-list-action {
    color: #ffffff;
}

.people-list-add {
    text-align: center;
}

.person-detail,
.person-form {
    margin-top: 15px;
}

.person-detail-name {
    margin-bottom: 10px;
}

.person-detail-data,
.person-form-data {
    margin-top: 15px;
}

.person-detail-data-label {
    margin-right: 5px;
    font-weight: bold;
}

.person-form-data-label {
    margin-right: 5px;
    margin-top: 15px;
}

.person-detail-tab,
.person-form-tab {
    margin-left: 25px;
}

.person-detail-controll,
.person-form-controll {
    margin-top: 25px;
    margin-bottom: 40px;
}

    .person-detail-controll .person-controll-button,
    .person-form-controll .person-controll-button {
        margin-left: 15px;
    }

        .person-detail-controll .person-controll-button:first-child,
        .person-form-controll .person-controll-button:first-child {
            margin-left: 0;
        }

.person-controll-button {
    color: #000000;
    border: 2px solid #310b4c;
    background: #ffffff;
    transition: all .4s;
}

    .person-controll-button:hover {
        color: #ffffff;
        background: #310b4c;
    }

    .person-controll-button .oi {
        color: #310b4c;
        transition: all .4s;
    }

    .person-controll-button:hover .oi {
        color: #ffffff;
    }

.person-form-parents, .person-form-parent-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
