@page "/people"
@using ValidPeople.Web.Shared.People
@inject HttpClient Http

<h3>People List</h3>

@if (!loaded)
{
    <p><em>Loading...</em></p>
}
else if (people == null || !people.Any())
{
    <p><em>There are no one registered yet</em></p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var person in people)
            {
                <a class="card people-list-card" href=@("/people/" + person.Id)>
                    <div class="people-list-data">
                        <div>@person.Name</div>
                        <div>@person.Email</div>
                        <div>@person.Birth.ToString("dd/MM/yyyy")</div>
                        <button class="btn people-list-action" 
                                @onclick="@(() => Delete(person))" 
                                @onclick:stopPropagation="true" 
                                @onclick:preventDefault="true">
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </a>
            }
        </div>
    </div>
}

@code {
    private bool loaded;
    private List<PersonListViewModel> people;

    protected override async Task OnInitializedAsync()
    {
        people = await Http.GetFromJsonAsync<List<PersonListViewModel>>("/api/people");
        loaded = true;
    }

    private async Task Delete(PersonListViewModel person)
    {
        var response = await Http.DeleteAsync("/api/people/" + person.Id.ToString());

        if (response.IsSuccessStatusCode)
        {
            people.Remove(person);
        }
    }
}
